* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 3px solid blue;
    width: 800px;
    height: 250px;
    margin: 50px auto;
    border-radius: 5px;

}

h2 {
    color: blue;
    text-align: center;
    margin: 10px auto;
}

.row {
    padding: 0 30px;
}

.input {
    display: flex;
    padding: 10px 0;
}

label {
    text-align: left;
    float: left;
    width: 170px;
}

input {
    margin-left: 10px;
    width: 200px;
    height: 25px;
}

.btn {
    background: rgb(74, 95, 218);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin: 10px 230px;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn:hover {
    transform: scale(0.9)
}